<?xml version="1.0"?>
<config>
    <modules>
        <Shopgo_Featuredpopup>
            <version>0.0.1</version>
        </Shopgo_Featuredpopup>
    </modules>
    <admin>
        <routers>
			<featuredpopup>
				<use>admin</use>
				<args>
					<module>Shopgo_Featuredpopup</module>
					<frontName>featuredpopup</frontName>
				</args>
			</featuredpopup>
        </routers>
    </admin>
    <adminhtml> 
        <translate>
            <modules>
                <Shopgo_Featuredpopup>
                    <files>
                        <default>Shopgo_Featuredpopup.csv</default>
                    </files>
                </Shopgo_Featuredpopup>
            </modules>
        </translate>        
        <menu>
            <cms>
                <children>
                    <featuredpopup module="featuredpopup">
                        <title>Featured Popup</title>
                        <action>featuredpopup/adminhtml_featuredpopup</action>
                        <sort_order>90</sort_order>
                    </featuredpopup>
                </children>   
            </cms>
        </menu>   
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<featuredpopup translate="title" module="featuredpopup">
											<title>Featuredpopup</title>
										</featuredpopup>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<featuredpopup>
					<file>shopgo/featuredpopup.xml</file>
				</featuredpopup>
			</updates>
		</layout>
    </adminhtml>        
    <frontend>
    	<routers>
			<featuredpopup>
				<use>standard</use>
				<args>
					<module>Shopgo_Featuredpopup</module>
					<frontName>featuredpopup</frontName>
				</args>
			</featuredpopup>
        </routers>
          <layout>
              <updates>
                  <featuredpopup module="featuredpopup">
                      <file>shopgo/featuredpopup.xml</file>
                  </featuredpopup>
              </updates>
          </layout>          
    </frontend>           
    <global>
        <models>
            <featuredpopup>
                <class>Shopgo_Featuredpopup_Model</class>
                <resourceModel>featuredpopup_mysql4</resourceModel>
            </featuredpopup>
            <featuredpopup_mysql4>
                <class>Shopgo_Featuredpopup_Model_Mysql4</class>
                <entities>                
                    <featuredpopup>
                        <table>shopgo_featuredpopup</table>
                    </featuredpopup>
                    <featuredpopup_store>
                        <table>shopgo_featuredpopup_store</table>
                    </featuredpopup_store>
                    <shopgo_featuredpopup_store>
                        <table>shopgo_featuredpopup_store</table>
                    </shopgo_featuredpopup_store>                                      
                </entities>
            </featuredpopup_mysql4>
        </models>
        <resources>
            <featuredpopup_setup>
                <setup>
                    <module>Shopgo_Featuredpopup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredpopup_setup>
            <featuredpopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredpopup_write>
            <featuredpopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredpopup_read>
        </resources>
        <blocks>
            <featuredpopup>
                <class>Shopgo_Featuredpopup_Block</class>
            </featuredpopup>
        </blocks>
        <helpers>
            <featuredpopup>
                <class>Shopgo_Featuredpopup_Helper</class>
            </featuredpopup>
        </helpers>
    </global>
    <default>
    	<featuredpopup>
    		<general>
    			<active>0</active>
    			<jquery>0</jquery>
    			<effect>1</effect>
    			<close>1</close>
    			<overlay_close>0</overlay_close>
    			<always_show>1</always_show>
    			<cookie_lifetime>3600</cookie_lifetime>
    		</general>
    	</featuredpopup>
    </default>
</config>